.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.gap0 {
  gap: 0px;
}

.gap1 {
  gap: var(--size-spacing-inline-xs);
}

.gap2 {
  gap: var(--size-spacing-inline-sm);
}

.gap3 {
  gap: var(--size-spacing-inline-md);
}

.gap4 {
  gap: var(--size-spacing-inline-lg);
}
