.nav {
  height: auto;
  margin-bottom: var(--size-spacing-stack-2xl);
}

.list {
  list-style-type: none;
  display: flex;
  padding: 0 var(--size-spacing-inline-lg);
  margin: auto;
  max-width: 1400px;
}

.item {
  font-size: var(--size-font-md);
  color: var(--color-text-light-canvas);
  font-weight: 600;
}

.link {
  display: block;
  padding: var(--size-spacing-inline-xl);
}

.link:hover {
  color: var(--color-text-hover-light-canvas);
}

.selected {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
}

@media screen and (min-width: 37.5em) {
}
