.nav {
  height: auto;
  max-width: 1200px;
  margin: 0 auto var(--size-spacing-stack-lg);
  padding: 0 var(--size-spacing-inline-xl);
}

.navContents {
  margin-top: var(--size-spacing-inline-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}

.hr {
  width: 50%;
  border-top: var(--color-base-gray-2) 1px solid;
  margin-top: var(--size-spacing-stack-lg);
}

.menuContainer {
  margin-top: var(--size-spacing-stack-sm);
  display: none;
}

.menuContainer[data-show="true"] {
  display: flex;
  animation: fadeIn 0.8s;
}

.logoContainer {
  display: flex;
  margin: auto 0;
  min-width: 65px;
  width: 65px;
}

.list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  width: auto;
  margin: 0;
  background: none;
  max-width: 1400px;
  padding-right: var(--size-spacing-inline-lg);
  border-right: var(--color-base-steelblue-1) 3px solid;
}

.item {
  margin-left: var(--size-spacing-inline-xl);
  font-size: var(--size-font-xl);
  color: var(--color-base-gray-5);
  font-weight: 600;
  border-radius: 0 8px 0;
  text-align: center;
}

.item:first-child {
  margin-left: 0;
}

.link:hover:not(.selected),
.link:focus:not(.selected) {
  background-color: transparent;
  color: var(--color-base-blue-1);
}

.link {
  display: block;
}

.selected {
  text-decoration: underline;
  font-weight: 700;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}

.connectIconsContainer {
  display: flex;
  margin: auto 0;
}

.connectLink {
  display: flex;
  margin-left: var(--size-spacing-inline-xl);
}

.connectIcon {
  height: auto;
}

.menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  right: 0;
  margin-right: var(--size-spacing-inline-lg);
}

@media screen and (min-width: 37.5em) {
  .nav {
    margin-bottom: var(--size-spacing-stack-2xl);
    animation: fadeIn 1s;
  }

  .navContents {
    flex-direction: row;
  }

  .hr {
    display: none;
  }

  .menuContainer {
    margin-top: 0;
    display: flex;
  }

  .logoContainer {
    margin-right: var(--size-spacing-inline-lg);
  }

  .list {
    border-left: var(--color-base-steelblue-1) 3px solid;
  }

  .item:first-child {
    margin-left: var(--size-spacing-inline-xl);
  }

  .menuButton {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
