.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headshotContainer {
  max-width: 325px;
  height: auto;
  margin-bottom: var(--size-spacing-stack-lg);
}

.headshotImage {
  border-radius: 9999px;
}

.profileInfoContainer {
  /* padding: var(--size-spacing-inline-xl); */
  text-align: center;
}

.profileHeading {
  font-size: var(--size-font-heading-xl);
  margin: 0 0 var(--size-spacing-stack-lg);
  font-weight: 600;
}

.profileInfo {
  font-size: var(--size-font-md);
  margin: 0 0 var(--size-spacing-stack-md);
}

@media screen and (min-width: 37.5em) {
  .profileContainer {
    flex-direction: row;
  }

  .headshotContainer {
    margin: 0 var(--size-spacing-inline-3xl) 0 0;
  }

  .profileInfoContainer {
    text-align: left;
    padding: 0;
  }
}
