.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.headshotContainer {
  max-width: 250px;
  height: auto;
}

.headshotImage {
  border-radius: 9999px;
}

.profileInfoContainer {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.passionSection {
  text-align: center;
}

.passionSection :last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 37.5em) {
  .profileContainer {
    flex-direction: row;
  }

  .profileInfoContainer {
    text-align: left;
    padding: 0;
  }

  .profileInfoContainer :last-child {
    margin-bottom: 0;
  }
}
